/* Animación para el texto en movimiento (Ticker) */
.ticker-banner {
    display: flex;
    white-space: nowrap;
    animation: ticker 20s linear infinite;
  }
  
  @keyframes ticker {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }